<!DOCTYPE html>
<html>
<head>
  <style>
    html { background-color: black; color: darkgreen; }
    /* Style the button link */
    a.button {
      display: inline-block;
      padding: 10px 20px;
      background-color: blue;
      color: white;
      text-decoration: none;
      border-radius: 5px;
    }

    /* Change button color on hover */
    a.button:hover {
      background-color: lightblue;
    }
  </style>
  <title>Welcome Page</title>
</head>
<body style="background-color: black;">
  <h1>Welcome to the GlitchHub backend!</h1>
  <p>Go to OpenApi Documentation:</p>
  <a href="/doc" class="button">OpenAPI Documentation</a>

  <div style="color: white; width: 30rem; font-size: 18px;">
    <p>
      From time immemorial, humans have shared an intrinsic bond with nature, a profound connection that has shaped our understanding of the world and ourselves. Among the many indigenous communities, the Aboriginal people of Australia stand as a testament to this symbiotic relationship between man and nature. Their semi-nomadic lifestyle in some of the harshest terrains honed a remarkable knowledge of their environment, allowing them to thrive where others might merely survive.
    </p>
    <p>This deep connection to the land was more than just a means of survival; it was a spiritual journey, a pathway to self-discovery and introspection. Given that they had mastered the art of living sustainably, much of their time was not consumed in mere survival but in reflection, growth, and understanding. In this state of harmony, the concept of time was perceived differently; it wasn't linear but rather a confluence of past, present, and future. Everything was interconnected.</p>
    <p>
      Elders, in this context, held an esteemed position not just due to their age but because of the wisdom they accumulated over time. Their teachings, steeped in layers of profound understanding and experiences, became the foundation for younger generations. Elders weren't just old; they were the torchbearers of knowledge, tradition, and the keys to inner peace. They were the embodiment of a life well-lived and well-understood.
    </p>
    <p>
      However, as sedentary civilizations began to spread, the essence of this deep connection began to diminish. The rapid pace of modern society, with its emphasis on superficial achievements and fleeting pleasures, has distanced many from this innate wisdom. While the Aboriginal community has been particularly affected, with many now navigating a complex maze of identity in a 'white man's world', this detachment is a global phenomenon.
    </p>
    <p>

      The layers of understanding that once defined human wisdom have now been reduced to surface-level judgments. In place of deep introspection and genuine human connection, there's a growing predilection for immediate gratification and shallow perceptions. This shift is alarming. It not only affects our relationship with nature but also with ourselves and others. We're gradually losing the ability to truly understand emotions, motivations, and the deeper truths of existence.

    </p>
  <p>
    In the lyrics penned by artists or the conversations we have, this trend is palpable. The initial verses of introspection quickly give way to animosity or superficial judgments. It's as if our emotional and intellectual bandwidth has narrowed down, and we're no longer able or willing to dive deep.
  </p>
  <p>
    In reflecting upon this shift, it becomes paramount to recognize the importance of rekindling that deep-seated wisdom that once defined humanity. To truly progress, both individually and collectively, we must strive to bridge the widening chasm between the superficial and the profound, to rediscover the essence of genuine understanding and connection that once was the hallmark of societies like the Aboriginals. Only then can we hope to achieve a harmonious existence, rooted in the true essence of what it means to be human.
  </p>
  </div>

</body>
</html>
