<!DOCTYPE html>
<html>
<head>
  <style>
    html { background-color: black; color: darkgreen; }
    /* Style the button link */
    a.button {
      display: inline-block;
      padding: 10px 20px;
      background-color: blue;
      color: white;
      text-decoration: none;
      border-radius: 5px;
    }

    /* Change button color on hover */
    a.button:hover {
      background-color: lightblue;
    }
  </style>
  <title>Welcome Page</title>
</head>
<body style="background-color: black;">
  <h1>Welcome to the GlitchHub backend!</h1>
  <p>Go to OpenApi Documentation:</p>
  <a href="/doc" class="button">OpenAPI Documentation</a>
</body>
</html>
